<div class="blog">
  <a href="/blog/<%= blog._id %>" class="Image">
    <img src="../assets/bg_2.jpg" alt="" />
  </a>
  <div class="content">
    <div class="tags">
      <h1><%= blog.tags %></h1>
    </div>
    <h3 class="creator">
      <%= blog.author %>
      <span><%= new Date(blog.createdAt).toDateString() %></span>
    </h3>
    <a href="/blog/<%= blog._id %>" class="title"><%= blog.title %></a>
    <p class="description">
      <%= blog.description.length > 120 ? blog.description.substring(0, 120) +
      '....' : blog.description %>
    </p>
    <button><a href="/blog/<%= blog._id %>">Discover More</a></button>
  </div>
</div>
