<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLOGAT | Home</title>
    <link
      rel="shortcut icon"
      href="https://static.vecteezy.com/system/resources/previews/015/425/993/non_2x/unique-letter-or-word-tb-sans-serif-cut-and-merge-connect-font-on-top-down-image-graphic-icon-logo-design-abstract-concept-stock-can-be-used-as-symbol-related-to-initial-or-sport-tech-vector.jpg"
      type="image/x-icon"
    />
    <meta name="google-adsense-account" content="ca-pub-6153573963834456">
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-MZ6F6Z0F88"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-MZ6F6Z0F88");
    </script>

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <script
    src="https://kit.fontawesome.com/a076d05399.js"
    crossorigin="anonymous"
  ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../stylesheets/index.css" />
  </head>
  <body>
    <div class="container">
      <header class="header" id="header">
        <nav class="navbar container">
          <a href="/" class="brand">BLOGAT</a>
          <div class="burger" id="burger">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
          </div>
          <span class="overlay"></span>
          <div class="menu" id="menu">
            <ul class="menu-inner">
              <li class="menu-item">
                <a class="menu-link" id="home" href="/">Home</a>
              </li>
              <li class="menu-item">
                <a class="menu-link" id="aboutUs" href="/About">About</a>
              </li>
              <li class="menu-item">
                <a class="menu-link" id="contactUs" href="/Contact">Contact</a>
              </li>
            </ul>
          </div>
          <span
            ><i class="bx bx-search search-toggle" title="Search Blogs"></i
          ></span>
          <div class="search-block">
            <form class="search-form">
              <span><i class="bx bx-arrow-back search-cancel"></i></span>
              <input
                type="search"
                name="search"
                class="search-input"
                id="searchInput"
                placeholder="Search here..."
              />
            </form>
          </div>
        </nav>
      </header>
      <section class="homeTop">
        <div class="top">
          <h1>Fragments of Us: Love, Loss, and the Journey Beyond</h1>
          <p>
            Welcome to Blogat — your ultimate destination for fresh insights!
            Dive into handpicked content designed to inspire, entertain, and
            connect with readers around the world.
          </p>
        </div>
        <div class="bottom">
          <h1>Explore Trending Topics</h1>
          <div class="buttons">
            <button>
              <a href="/category/Travel"
                ><i
                  class="fa-solid fa-plane"
                  style="color: orangered; margin-right: 5px"
                ></i>
                Travel
              </a>
            </button>
            <button>
              <a href="/category/Technology"
                ><i
                  class="fa-solid fa-camera-retro"
                  style="color: blue; margin-right: 5px"
                ></i>
                Technology</a
              >
            </button>
            <button>
              <a href="/category/Sports"
                ><i
                  class="fa-solid fa-basketball"
                  style="color: rebeccapurple; margin-right: 5px"
                ></i>
                Sports</a
              >
            </button>
            <button>
              <a href="/category/News"
                ><i
                  class="fa-solid fa-file"
                  style="color: brown; margin-right: 5px"
                ></i>
                News</a
              >
            </button>
          </div>
          <div class="buttons">
            <button>
              <a href="/category/Weather"
                ><i
                  class="fa-solid fa-cloud-sun"
                  style="color: green; margin-right: 5px"
                ></i>
                Weather</a
              >
            </button>
            <button>
              <a href="/category/Education"
                ><i
                  class="fa-solid fa-laptop"
                  style="color: crimson; margin-right: 5px"
                ></i>
                Education</a
              >
            </button>
            <button>
              <a href="/category/Seo"
                ><i
                  class="fas fa-chart-bar"
                  style="color: darkgoldenrod; margin-right: 5px"
                ></i>
                SEO</a
              >
            </button>
            <button>
              <a href="/category/Seo"
                ><i
                  class="fa-solid fa-person-praying"
                  style="color: blueviolet; margin-right: 5px"
                ></i
                >Trends</a
              >
            </button>
          </div>
        </div>
      </section>
      <div class="blogsCards">
        <section class="blogs">
          <% blogs.reverse().forEach(blog => { %>
          <div class="blog">
            <a href="/blog/<%= blog._id %>" class="Image">
              <img src="<%= blog.imageUri %>" alt="<%= blog.imageUri %>" />
            </a>
            <div class="content">
              <div class="tags">
                <h1><%= blog.tag %></h1>
              </div>
              <h3 class="creator">
                <%= blog.author %>
                <span><%= displayDate %></span>
              </h3>
              <a href="/blog/<%= blog._id %>" class="title">
                <%= blog.title %>
              </a>
              <p class="description">
                <%= blog.description.length > 120 ?
                blog.description.substring(0, 120) + "...." : blog.description
                %>
              </p>
              <button><a href="/blog/<%= blog._id %>">Discover More</a></button>
            </div>
          </div>
          <% }); %>
        </section>
        <section class="cards">
          <div class="about">
            <h3>ABOUT</h3>
            <div class="dpinfo">
              <div class="Image">
                <img src="../assets/1717442704967.jpg" alt="" />
              </div>
              <div class="aboutContent">
                <h1>Ali Raza</h1>
                <h3>Fullstack MERN Web Developer</h3>
              </div>
            </div>
            <p>
              Ali Raza shares thoughtful reflections on life, culture, and
              personal growth. His work blends creativity with experience,
              offering unique and meaningful perspectives.
            </p>
            <h3 id="location">
              <i class="fas fa-map-marker-alt" title="Location"></i> Sindh,
              Pakistan 🇵🇰
            </h3>
            <div class="links">
              <a
                href="https://www.facebook.com/profile.php?id=61552489011042"
                target="_blank"
                ><i class="fab fa-facebook fa-xl" title="Facebook"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/aliraza1121/ "
                target="_blank"
                ><i class="fab fa-linkedin fa-xl" title="Linkedin"></i
              ></a>
              <a href="https://www.instagram.com/ali.stacker/" target="_blank"
                ><i class="fab fa-instagram fa-xl" title="Instagram"></i
              ></a>
              <a href="https://github.com/AliRazaAbro123" target="_blank"
                ><i class="fab fa-github fa-xl" title="GitHub"></i
              ></a>
            </div>
          </div>
        </section>
      </div>
      <footer>
        <div class="footerTop">
          <div class="titleSection">
            <h1>BLOGAT</h1>
            <p>
              BLOGAT is a blog that provides a platform for individuals to share
              their stories, insights, and experiences. It aims to foster
              connection and understanding through the power of storytelling.
            </p>
          </div>
          <div class="linksSection">
            <a href="/">Home</a>
            <a href="/About">About</a>
            <a href="/Contact">Contact</a>
          </div>
          <div class="personalLinks">
            <a
              href="https://www.facebook.com/profile.php?id=61552489011042"
              target="_blank"
              ><i class="fab fa-facebook fa-xl" title="Facebook"></i
            ></a>
            <a href="https://www.linkedin.com/in/aliraza1121/ " target="_blank"
              ><i class="fab fa-linkedin fa-xl" title="Linkedin"></i
            ></a>
            <a href="https://www.instagram.com/ali.stacker/" target="_blank"
              ><i class="fab fa-instagram fa-xl" title="Instagram"></i
            ></a>
            <a href="https://github.com/AliRazaAbro123" target="_blank"
              ><i class="fab fa-github fa-xl" title="GitHub"></i
            ></a>
          </div>
        </div>
        <div class="footerBottom">
          <h1>Made with ❤️ by Ali Raza • © 2025</h1>
          <div class="privicy">
            <a href="/Privacy-policy">Policy</a>
            <a href="/Terms-and-conditions">Terms</a>
          </div>
        </div>
      </footer>
    </div>
    <!-- Scripts are included at the end of the body for better performance -->
    <script src="../javascript/script.js"></script>
  </body>
</html>
